body {
    background-image: url("../../Images/bg1.png");
    background-repeat: no-repeat;

}

.div-pefil {
    background-image: url("../../Images/banner.jpg");
    margin-top: 20px;
    margin-bottom: 52px;
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    text-align: center;
    color: white;
    padding: 15px;
   
}

.img-perfil{
    position: relative;
    height: 100px;
}

#user_active {
    position: relative;
    margin-left: -50%;
}

.div-pefil label  {
    position: relative;
    left: 30%;
    font-size: 44px;
}


.container-btns {
    margin: 10px;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-48.5%);
    border: 1px solid black;
    background: white;
    transition: All 0.3s ease 0s;
}

.container-btns p, .btn-dropdown {
    padding: 20px;
    font-size: 20px;
    color: black;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.container-info {
    display: none;
    background-color: white;
    color: black;
}

    .container-btns:hover, .container-info:hover, .slideshow-container:hover {
        background: #4A636D;
        border-radius: 15px;
    }

li, a {
    color: #6F7F84;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}